.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff; /* Dark blue */
    color: rgba(0, 0, 255, 0.784); /* Dark blue */; /* White */
    width: 100%; /* Fill entire width of the browser */
    position: fixed; /* Fix the navbar to the top of the page */
    top: 0; /* Position the navbar at the top */
    left: 0; /* Position the navbar at the left */
    right: 0; /* Position the navbar at the right */
    z-index: 1000; /* Ensure the navbar is above other elements */
}

.logo {
    width: 10px;
    height: auto;
    display: flex;
    flex: 0.15;
    align-items: flex-end;
    justify-content: flex-end;
}

.text-container {
    display: flex;
    flex: 0.85;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
    margin-left: 30px; /* Adjust the margin to reduce spacing */
}

.text {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

.text-container span:first-child {
    font-weight: bold;
    color: blue;
    font-size: 30px;
}

.text-container span:last-child {
    font-size: 20px; /* Adjust the font size for the second span */
}